.MainHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.MainHeader:hover{
    background-color: hsl(43, 100%, 50%);
}


/* using the different types of selectors */

*{
    text-align:center;
}

span{
    background-color: yellowgreen;
}

a[href="https://github.com/DualSaturn"] {
    background-color: rgb(255, 218, 7);
}

ul li {
    background-color: rgba(202, 201, 201, 2555);
}

ol > li{
    background-color: cornflowerblue;
}

p ~ h3 {
    font-family: 'Courier New', Courier, monospace;
}

h2 + h3 {
    font-family: 'Courier New', Courier, monospace;
}

section, code {
    padding: 5px;
    border-color:#000;
    border-width: 3cm;
    border-style: solid;
    border-radius: 50pt;
    font-size: 1.25em;
}

p.desc{
    background-color: #ffa07a;
    color:hsla(0, 100%, 18%, 1);
}

video {
    border-radius: 10%;
}